<h1>All users</h1>

<%= will_paginate %>


<ul class="round">
	<% @users.each do |user| %>
		<%= render user	 %> <!= render user je ustavri kontent file-a _user.html.erb  !>
	<% end %>
</ul>


<%= will_paginate %>