<h1>About Us</h1>
<p>
<a href="http://sweeter.heroku.com/">Sweeter</a>
je projekat nastao usleg gasenja "popularnog" google-ovog servisa google buzz koji je malom broju mojih prijatelja prevashodno sluzio kao "microbloging" servis pomocu kojeg su mogli svakodnevno da dele informacije izmedju sebe, a opet bili daleko od velikih socijalnih mreza, ovaj projekat ima za cilj da i dalje ostanemo dalje od socijalnih mreza a opet delimo sadrzaj izmedju nas. Takodje ovo je <a href="http://sweeter.heroku.com/users/1">moj</a> prvi <a href="http://rubyonrails.org/">RubyOnRails</a> prijekat koji je duboko inspirisan(citaj rip-off) knjigom <a href="http://ruby.railstutorial.org/">Ruby on Rails 3 Tutorial Learn Rails by Example</a>.